@using Microsoft.Extensions.Options;
@using Web.AppSettings;
@inject IOptions<AppSettingsModel> AppSettings

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Item Setup";
}

<div class="list-group">
    @Html.Partial("_MenuItems", new ViewDataDictionary(ViewData)
    {
        { "href" , "/items/main" },
        { "total" , "4" },
        { "menuTitle" , "Main Selling Categories" },
        { "subTitle" , "Main selling categories on " + @AppSettings.Value.Application.Name },
        { "desc" , "Ex :- Women's Clothing, Men's Clothing, Phones and Accessories" }
    })

    @Html.Partial("_MenuItems", new ViewDataDictionary(ViewData)
    {
        { "href" , "/items/sub" },
        { "total" , "4" },
        { "menuTitle" , "Main Sub Categories" },
        { "subTitle" , "Main sub categories on " + @AppSettings.Value.Application.Name },
        { "desc" , "Ex :- Women's Clothing has Dresses, Blouses and Shirts, Accessories..." }
    })

     @Html.Partial("_MenuItems", new ViewDataDictionary(ViewData)
    {
        { "href" , "/items/items" },
        { "total" , "4" },
        { "menuTitle" , "Items" },
        { "subTitle" , "Items on " + @AppSettings.Value.Application.Name },
        { "desc" , "Ex :- T-shirts, Blouses, Denims..." }
    })
</div>